//- layout.pug
doctype html
html
  head
    title Hunter dance acedemy
    block scripts
    block style
  body
    nav#navbar
        ul
            div#logo
                img(src="/static/img/logo.png") 
                | HDA
            li #[a(href="/") Home ]
            li #[a(href="/") About] 
            li #[a(href="/") Services] 
            li #[a(href="/") Class info] 
            li #[a(href='/contact') Contact Us] 

    block content
    footer#footer 
        | Copyright  © 2019 Hunterwith.com | All right Reserved   
      
    