extends base.pug

block scripts 
  script(Src='/static/index.js')

block style
     style
      include ../static/style.css

block content
       
          H1 Contact Us
          form(action= "/contact", method= "post", class= "myForm")
          <input type="text"class= "myInput" name="name" placeholder="Enter your name..">
          <input type="phone" class= "myInput" name="phone" placeholder="Enter your phone number..">
          <input type="email" class= "myInput" name="email" placeholder="Enter your email..">
          <input type="text"  class="myInput" name="address" placeholder="Enter Your address"> 
          <input type="text"  class="myInput" name="desc" placeholder="Enter Your concern"> 
          button(class="myInput")
             |submit
          