extends base.pug

block scripts 
  script(Src='/static/index.js')

block style
     style
      include ../static/style.css

block content  
    section#introSection 
      | Welcome to my Dance Acedemy

    section#missionSection 
          h2 Our Mission 
          div.card 
             h3 dance perform
             div.card-box
                div.card-img   
                   img(src="/static/img/1.png")
                div.card-content
                      p This is the best dance academy of the universe
          div.card 
            h3 this is cool
            div.card-box
                div.card-img   
                   img(src="/static/img/2.png")
                div.card-content
                      p This is the best dance academy of the universe
        
          div.card 
              h3 chacha choudhary
              div.card-box
                div.card-img   
                   img(src="/static/img/3.png")
                div.card-content
                      p This is the best dance academy of the universe



    section#sponsorsSection 
      h2 Our Sponsors 
      div#sponsors 
        img(src="/static/img/logo1.png",alt="sponsors img",class="spImage")
        img(src="/static/img/logo2.png",alt="sponsors img",class="spImage")
        img(src="/static/img/logo3.png",alt="sponsors img",class="spImage")
        img(src="/static/img/logo4.png",alt="sponsors img",class="spImage")